body{ 
	/* position: relative; */
}

.game{
	width: 402px;
	margin: auto;
	padding: 10px;
	border: 1px solid red;
}

.field{
	position: relative;
	width: 400px;
	height: 400px;
	border: 1px solid black;
	background-image: url("grid.png");
}

.menu{	
	padding: 10px;
	border: 1px solid black;
}

.snake{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: black;
}

.red{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: red;
}

.apple{
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url("apple.png");
}